.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: blue;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 7px 7px 7px black;
    display: inline-block;
}

body {
    padding-top: 150px;
    margin-left: 120px;
}

#image-memory-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 5px;
    left: 5px;
}

.image-icon {
    width: 350px;
    height: 250px;
}

div.card {
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px blue;
}

div.mini-card {
    background-color: blue;
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mini-image-icon {
    width: 250px;
    height: 150px;
}